.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./assets/header.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
  height: 5vh;
}

.links {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link_item {
  margin-left: 1rem;
}

.link {
  text-decoration: none;
  color: #000;
}
