.header {
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  height: 5vh;
}

.links {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link_item {
  margin-left: 1rem;
}

.link {
  text-decoration: none;
  color: #000;
}

.link:hover {
  color: #9b51e0;
  text-decoration: none;
  border-bottom: 2px solid #9b51e0;
  transition: color 0.5s;
}
